.container {
    display: grid;
    grid-template-rows: 1fr 4fr 1fr;
    grid-template-columns: 1fr 4fr 1fr;
    align-items: center;
    justify-content: center;
    justify-items: center;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    border-top: solid;
    border-width: medium;
}

header {
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    grid-template-columns: 1fr 10fr 1fr;
    background-color: #10a33c;
    text-align: center;
}

.item2 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}

h1 {
    grid-column: 2 / 3;
    font-size: 32px;
    font-weight: bold;
}

.username {
    grid-column: 3 / 4;
}

.input {
    margin-bottom: 12px;
    font-size: 14px;
}

.input2 {
    margin-bottom: 12px;
    font-size: 14px;
    text-align: right;
    margin-top: 5%;
    margin-bottom: 5%;
}

#box {
    width: 350px;
    height: 30px;
    border-radius: 5px;
    font-size: 14px;
}

.button {
    background-color: #10a33c;
    color: white;
    min-height: 60px;
    cursor: pointer;
    border: solid 1px black;
}

.logoutbutton {
    margin-left: 5%;
    height: 20px;
    width: 60px;
    font-size: small;
    cursor: pointer;
}